/* regular: 01ced3 */
/* light: 01f9ff */
/* dark: 017d80 */
body {
  padding: 15px 30px;
  background: #23252e;
  color: #01ced3;
  text-align: center;
}
body, .pure-g[class *="pure-u"], .pure-g-r[class *="pure-u"] {
  font-family:"Ubuntu Mono", monospace;
}
a {
  color: #01ced3;
}
* {
  font-family:"Ubuntu Mono", monospace;
}
.word {
  font-size: 30px;
  margin: 2%;
}
.center-score {
  float: left;
  padding: 0 2%;
  font-size: 2em;
}
.time {
  float: right;
  padding-right: 2%;
  font-size: 2em;
}
.next-game-text {
  font-size: 0.5em;
}
.current-word {
  font-size: 50px;
  text-align: center;
}
.letter {
  width: 22%;
  height: 22%;
  margin: 1.5%;
  float: left;
  background: #01ced3;
  color: #000;
  vertical-align: top;
  line-height: 126%;
  border-radius: 5px;
  position: relative;
}
.letter.selected {
  background: #fff;
}
.letter-select-box {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 15%;
}
.board {
  text-align: center;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.center-column {
  max-width: 520px;
  margin: 0 auto;
}
.board-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.keyboard-input-wrapper {
  margin: 2%;
}
.keyboard-input, .name-input {
  text-align: center;
  background: rgba(0, 0, 0, 0);
  border: 2px solid #d37201;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  color: #01ced3;
  border-radius: 5px;
  font-family:"Ubuntu Mono", monospace;
  outline: none;
}
.share {
  text-align: center;
  cursor: pointer;
}
.name-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, .8);
}
.name-overlay-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -50px;
  width: 250px;
  height: 100px;
}
.name-overlay-center:before {
  content:'Name: ';
}
.winning-word {
  padding: 10px;
  display: inline-block;
}
.share-text {
  cursor: pointer;
  text-decoration: none;
}
.share-button {
  cursor: pointer;
  text-decoration: underline;
}
.mobile-share {
  padding: 20px;
}
.player-inline {
  display: inline-block;
  padding: 5px;
}
.player-inline:after {
  content:' |'
}