<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zolmeister.zoggle" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Zoggle</name>
    <description>
        Zoggle, the ultimate word game!
    </description>
    <author email="zogglegame@gmail.com" href="http://zolmeister.com">
        Zolmeister
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
