<div class='center-score' ng-if='!isMobile'>Score: {{score}}</div>
<div class='center-score' ng-if='isMobile'>
  <i class="fa fa-pencil" ng-click='editName()'></i>{{name}}: {{score}}</div>
<div class='time'>
  <span class='next-game-text' ng-show='gameOver'>Next game in:</span>{{timer}}</div>
<div style='clear: both'></div>
<div class='current-word'>{{input.word || "&nbsp;"}}</div>

<div class='board-container' square noscroll>
  <div class='board noselect fade' dynamicfont=6 ng-show='!gameOver' ng-mouseup='mouseUp()'>
    <div class='letter' ng-repeat='letter in board track by $index' ng-class='{selected: selected.indexOf($index) != -1, "word-success":wordSuccess === true, "word-fail": wordSuccess === "fail", "word-used": wordSuccess === "used"}' boardload>{{letter}}
      <div class='letter-select-box'></div>
    </div>
    <div class='board-overlay' catcher targets='letter-select-box'></div>
  </div>
  
  <div class='winning-words' square ng-show='gameOver'>
    <h1>Winning Words</h1>
    <div class='winning-word' ng-repeat='word in won track by $index'>{{word}}</div>
    <div class='countdown' ng-show='gameOver && timeLeft <= 5 '>{{timeLeft}}</div>
  </div>
</div>
<div class='keyboard-input-wrapper' ng-if='!isMobile' ng-show='!gameOver'>
    <form ng-submit='guess()'>
      <input ng-model='input.word' type='text' name='word' class='keyboard-input' autofocus>
    </form>
  </div>
<div ng-include src='"partials/share.html"' ng-if='!isMobile'></div>