<div class='center-score'>Score: 23</div>
<div class='time'>01:59:00</div>
<div style='clear: both'></div>
<div class='current-word'>ZZZ</div>
<div class='board' square dynamicfont=6>
  <div class='letter'>A</div>
  <div class='letter'>B</div>
  <div class='letter'>C</div>
  <div class='letter'>D</div>
  <div class='letter'>E</div>
  <div class='letter'>F</div>
  <div class='letter'>G</div>
  <div class='letter'>H</div>
  <div class='letter'>I</div>
  <div class='letter'>J</div>
  <div class='letter'>K</div>
  <div class='letter'>L</div>
  <div class='letter'>M</div>
  <div class='letter'>N</div>
  <div class='letter'>O</div>
  <div class='letter'>Qu</div>
  <div class='board-overlay'></div>
</div>
<div class='keyboard-input-wrapper'>
  <input class='keyboard-input'>
</div>

<div class='share'>Play with friends: share</div>